.App {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  background-clip: border-box;
}

.index {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  position: fixed;
}

.intro {
  margin-top: 3%;
}

.create-button {
  margin-right: 5%;
  background-color: #fccf00;
  color: #2468b1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #fccf00 100%);
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  font-family: Arial;
  text-shadow: 0px 1px 0px #e1e2ed;
}

.create-button:hover,
.join-button:hover {
  background: linear-gradient(to bottom, #fccf00 5%, #ededed 100%);
  background-color: #bab1ba;
}

.join-button {
  margin-left: 5%;
  background-color: #fccf00; /* Green */
  border: none;
  color: #2468b1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #fccf00 100%);
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  font-family: Arial;
  text-shadow: 0px 1px 0px #e1e2ed;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
