.App {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  background-clip: border-box;
}

.index {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  position: fixed;
  overflow: auto;
}

.intro {
  margin-top: 3%;
}

.create-button {
  margin-right: 5%;
  background-color: #fccf00;
  color: #2468b1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #fccf00 100%);
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  font-family: Arial;
  text-shadow: 0px 1px 0px #e1e2ed;
}

.join-button {
  margin-left: 5%;
  background-color: #fccf00; /* Green */
  border: none;
  color: #2468b1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #fccf00 100%);
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  font-family: Arial;
  text-shadow: 0px 1px 0px #e1e2ed;
}

.create-div .create-instructions,
.join-div .join-instructions {
  font-size: 14px;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.button-container {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.create-div {
  margin-right: 30px;
  position: relative;
  display: inline-block;
}

.join-div {
  margin-left: 30px;
  position: relative;
  display: inline-block;
}

.create-div .create-instructions::after,
.join-div .join-instructions::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.create-div:hover .create-instructions,
.join-div:hover .join-instructions {
  visibility: visible;
  opacity: 1;
  z-index: 999999;
}

.create-button:hover,
.join-button:hover {
  background: linear-gradient(to bottom, #fccf00 5%, #ededed 100%);
  background-color: #bab1ba;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 1680px) {
  .create-button,
  .join-button {
    font-size: 25px;
  }
  .create-div .create-instructions,
  .join-div .join-instructions {
    font-size: 18px;
  }
}
