.roll {
  height: 40px;
  width: 400px;
  position: absolute;
  left: 35%;
  z-index: -1;
}

.spacing {
  position: relative;
  width: 93px;
}

.navCollapse {
  z-index: -1;
}

.roll-button,
.go-button {
  width: 40px;
  position: absolute;
  left: 30px;
  background-color: white;
  border: none;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
  margin-top: -33px;
  border: 3px solid black;
  z-index: 1;
}

#playersTurns {
  display: contents;
}

.next-player-button,
.reset-button,
.pick-pokemon {
  width: fit-content;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #fccf00 100%);
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  font-family: Arial;
  text-shadow: 0px 1px 0px #e1e2ed;
}

#pokemonPicker {
  margin-bottom: 10px;
}

.dice-roll {
  height: 50px;
  width: 50px;
  left: 41%;
  color: black;
  margin-top: -39px;
  background: white;
  background-color: white;
  font-size: 30px;
  position: absolute;
  border-radius: 100%;
  border: 5px solid black;
}

#rollPokeball {
  position: absolute;
  margin-top: -25px;
  margin-left: 17px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#pokeTop {
  width: 100px;
  height: 50px;
  background-color: red;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 3px solid black;
  box-sizing: border-box;
}

#pokeBottom {
  width: 100px;
  height: 50px;
  background-color: white;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 3px solid black;
  box-sizing: border-box;
  margin-top: -16px;
}

#goPokeball {
  position: absolute;
  margin-top: -25px;
  margin-left: -27px;
  z-index: -1;
  width: 100px;
  height: 100px;
}

.pokeball {
  display: block;
  margin-top: -80px;
  margin-left: 90px;
  width: 200px;
}

.pokeballTop {
  width: 200px;
  height: 100px;
  background-color: red;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 5px solid black;
  box-sizing: border-box;
}

.pokeballBottom {
  width: 200px;
  height: 100px;
  background-color: white;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 5px solid black;
  box-sizing: border-box;
  margin-top: -16px;
}

.haunter {
  position: absolute;
  float: left;
  margin-left: 5%;
  margin-top: 20%;
}

.haunter img {
  height: 300px;
  width: 300px;
  position: relative;
}

.dropdown {
  background-color: #ee1515;
  color: black;
  display: block;
  height: 33px;
  line-height: 40px;
  text-decoration: none;
  width: 180px;
  text-align: center;
  z-index: 9999;
  cursor: pointer;
}

.next-player-button:hover,
.pick-pokemon:hover,
.reset-button:hover {
  background: linear-gradient(to bottom, #fccf00 5%, #ededed 100%);
  background-color: #bab1ba;
}

.board-battle {
  position: absolute;
}

.gameBoard {
  position: relative;
  margin-top: 80px;
  height: 800px;
}

.pokenav {
  height: 60px;
}

.mb-3 {
  margin-top: 6%;
}

.pokemonPickDiv {
  position: absolute;
  margin-top: 65%;
  margin-left: 45%;
}

@media screen and (min-width: 1680px) {
  .pokeball {
    margin-top: -131px;
    width: 300px;
    height: 300px;
  }
  .pokeballTop,
  .pokeballBottom {
    width: 300px;
    height: 150px;
  }
  .pokeballTop {
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
  }
  .pokeballBottom {
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
  }
  .dice-roll {
    height: 75px;
    width: 75px;
    left: 52%;
    margin-top: -53px;
    font-size: 43px;
  }
  .roll-button,
  .go-button {
    width: 50px;
    height: 50px;
    left: 75px;
    font-size: 16px;
    margin-top: -40px;
  }
  #pokeTop {
    width: 200px;
    height: 100px;
    background-color: red;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 3px solid black;
    box-sizing: border-box;
  }
  #pokeBottom {
    width: 200px;
    height: 100px;
    background-color: white;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 3px solid black;
    box-sizing: border-box;
    margin-top: -16px;
  }
  #goPokeball {
    margin-top: -73px;
    margin-left: -70px;
    z-index: -1;
    width: 100px;
    height: 100px;
  }
  #rollPokeball {
    margin-top: -73px;
    margin-left: -40px;
    width: 100px;
    height: 100px;
  }
  .pokenav {
    height: 90px;
    font-size: 25px;
  }
  .mb-3 {
    height: 50px;
  }
  #playerNameInput {
    height: 50px;
    font-size: 25px;
    width: 193px;
  }
  .dropdown {
    height: 50px;
    font-size: 25px;
  }
  .next-player-button,
  .reset-button,
  .pick-pokemon {
    font-size: 25px;
  }
  .name {
    font-size: 25px;
  }
}
