.playerContainer {
  position: absolute;
  display: grid;
  grid-template-columns: 25px 25px 25px;
}

.player {
  background-color: #c0c0c0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  clear: none;
  position: relative;
  opacity: 0.8;
  z-index: 2;
}

.player .newName {
  font-size: 14px;
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -45px;
  opacity: 0;
  transition: opacity 0.3s;
}

.player .newName::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.player:hover .newName {
  visibility: visible;
  opacity: 1;
  z-index: 999999;
}

.tileContainer {
  display: grid;
  position: relative;
}

.space {
  transition: transform 0.2s;
  z-index: 1;
}

.space:hover {
  transform: scale(2);
  z-index: 999;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 120, 255, 1.5);
}
