.App {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  background-clip: border-box;
}

.index {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  position: fixed;
}

.intro {
  margin-top: 3%;
}

.create-button {
  margin-right: 5%;
  background-color: #fccf00; /* Green */
  border: none;
  color: #2468b1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.join-button {
  margin-left: 5%;
  background-color: #fccf00; /* Green */
  border: none;
  color: #2468b1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
