.roll {
  height: 40px;
  width: 400px;
  position: fixed;
  left: 35%;
}

.spacing {
  position: relative;
  width: 93px;
}

.roll-button {
  width: 125px;
  position: absolute;
  left: 40px;
  background-color: #fccf00;
  border: none;
  color: #2468b1;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.go-button {
  width: 50px;
  position: absolute;
  top: 67px;
  left: 170px;
  background-color: #039003;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.next-player-button {
  width: 125px;
  position: absolute;
  left: 225px;
  background-color: #fccf00;
  border: none;
  color: #2468b1;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.reset-button {
  width: 160px;
  position: absolute;
  top: 90px;
  left: 72px;
  background-color: #fccf00;
  border: none;
  color: #2468b1;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.dice-roll {
  height: 40px;
  width: 50px;
  left: 170px;
  color: black;
  background: white;
  background-color: white;
  font-size: 30px;
  position: absolute;
}

.haunter {
  position: relative;
  float: left;
  margin-left: 10%;
  margin-top: 30%;
}

.dropdown {
  background-color: #ee1515;
  color: black;
  display: block;
  height: 33px;
  line-height: 40px;
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.pick-pokemon {
  margin-bottom: 10px;
  background-color: #fccf00;
  border: none;
  color: #2468b1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
