.playerContainer {
  position: absolute;
  display: grid;
  grid-template-columns: 25px 25px 25px;
}

.player {
  background: #f00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  clear: none;
  position: relative;
}

.tileContainer {
  display: grid;
  position: relative;
}

.space {
  transition: transform 0.2s;
}

.space:hover {
  transform: scale(2);
  z-index: 999;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 120, 255, 1.5);
}
